<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="@Model.StylesPath" media="screen" />

<html>
<head>
    <title></title>
</head>
<body>
<div class="userName">
    <div>@Model.Email</div>
    <div>@Model.QrEncrypted</div>
    <div>@Model.QrCodeSize</div>
    <div>@Model.QrCodeX</div>
    <div>@Model.QrCodeY</div>
</div>
</body>
</html>