<link rel="stylesheet" type="text/css" href="@Model.StylesPath" media="screen"/>

<div class="MuiBox-root css-198qen4">
    <img src="@Model.CoverPath" class="EzdY1txt7UcfPO7a0GmA" alt="Preview">
    <img src="data:image/png;base64,@Model.QrBase64" class="lbvbQ7zC9kU508nWEL9e react-draggable react-draggable-dragged react-resizable" style="border-radius: 10px; margin-left: @Model.QrCodeX.ToString()px; margin-top: @Model.QrCodeY.ToString()px; width: @Model.QrCodeSize.ToString()px; height: @Model.QrCodeSize.ToString()px;" alt="QrCode">
</div>